@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="background-color: #32a6a8; color: white";>
            <div style="display: flex; align-items: center;">
                <img src="images/icon.png" alt="Icon" style="width: 45px; height: 40px; position: absolute; left: 0; margin-left: 20px;" />
            </div>
            <div style="flex-grow: 1;"></div>
            <AuthorizeView>
                <Authorized>
                    <a href="logout" style="color: white;">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login" style="color: white;">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
