@page "/events"

@rendermode InteractiveServer

@using GrpcEvent

@inject PhotoEvent.PhotoEventClient EventClient
@inject NavigationManager NavigationManager

<PageTitle>Events</PageTitle>

<AuthorizeView>
    <Authorized>
        <input type="text" @bind="_eventName" placeholder="type name" class="form-control"/>
        <button class="btn btn-primary" @onclick="CreateEvent">Create event</button>
    </Authorized>
</AuthorizeView>

@code {

    private string _eventName = "";

    private async Task CreateEvent()
    {
        if (!string.IsNullOrEmpty(_eventName))
        {
            var reply = await EventClient.CreateAsync(new CreateRequest { Name = _eventName, Duration = EventDuration.DurationDay, MinimalTimespan = EventMinimalTimespan.Timespan1H });
            var id = Guid.Parse(reply.Id.Value);
            NavigationManager.NavigateTo($"/event/{id}");
        }
    }

}