@page "/grpc"
@rendermode InteractiveServer
@using GrpcGreeter
@inject Greeter.GreeterClient GreeterClient

<PageTitle>grpc test</PageTitle>

<h1>grpc</h1>


<p role="status">Response: @_response</p>

<input type="text" @bind="_message" placeholder="type name" class="form-control" />

<button class="btn btn-primary" @onclick="SendGrpcRequest">Click me</button>

<AuthorizeView>
    <Authorized>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>Please login!</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private string _message = "";
    private string _response = "";

    private async Task SendGrpcRequest()
    {
        if (!string.IsNullOrEmpty(_message))
        {
            _response = (await GreeterClient.SayHelloAsync(new HelloRequest { Name = _message })).Message;
        }
    }
}
